# Ignore virtual environment
.venv/

# Ignore compiled Python files
__pycache__/

# Ignore editor/IDE files
.vscode/
.idea/

# macOS-specific files
.DS_Store

# Python distribution artifacts
dist/
build/
*.egg-info/

# Test and coverage files
.coverage
coverage.xml
*.log
